@import url("pageReset.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    margin: 0;
    background-color: #D4E9E2;
}


.modal-card {
    position: relative;
    border: 2px solid black;
    width: 90%;
    max-width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #FDFBF7;
    border-radius: 20px;
}

/* colse button */
.close-btn {
    position: absolute;
    top: 10px; 
    left: 30px;
    width: 20px;
    height: 20px;
}

header {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 10px;
    color: #3E2723;
}

.input-group label {
    font-family: var(--title-font, "Merriweather Sans"), sans-serif;
}

.input-group input, .input-group select {
  width: 100%;
  border: none;
  border-bottom: 2px solid #333; /* Gives that sketched underline look */
  padding: 8px 0;
  background: transparent;
  outline: none;
  margin-bottom: 8px;
}

.split-row {
    display: flex;
    gap: 30px;

    @media screen and (max-width: 600px) {
        gap: 0px;
    }
}

.split-row, .input-group {
    flex: 1;

    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
}

.confirm-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: #3c7413;
    color: #F9F8F3;
    font-weight:bolder;
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 500;
    padding: 10px 14px;
    border-radius: 6px;
    transition: transform 0.2s ease, background-color 0.2s ease;

    &:hover {
        transform: translateY(-2px);
        background-color: #4c8127;
    }
}

.footer {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 2px dashed #999;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px 20px; 
    text-align: center;
    padding: 10px;

    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}

.contact-item {
    color: black;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
        color: #013E37;
    }
}

.fa-solid {
    transition: color 0.2s ease;
}

.footer-item:hover {
    color: darkgreen;
}
