@import url("pageReset.css");
body{
    background-color: #f9e8de;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#shop-logo-login{
    background-image: url("./web-image/tnaot_cafe_logo-Photoroom.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main p{
    font-family: sans-serif;
    font-size: 1.2rem;
    margin-bottom: 15px;
}
form{
    border: 2px solid #39483a;
    border-radius: 8px;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    row-gap: 10px;
    background-color: rgb(248, 224, 224);
    backdrop-filter: blur(12px);
}
.login-input{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
form label{
    font-family: sans-serif;
    font-size: 1rem;
}

form input{
    font-family: sans-serif;
    font-size: 1rem;
    outline: none;
    padding: 4px 3px;
    border: 1px solid #39483a;
    border-radius: 8px;
}
form button{
    margin-left: 60px;
    font-family: sans-serif;
    font-size: 1rem;
    padding: 3px 5px;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: #8e8e8e;
    cursor: pointer;
}
form button:hover{
    background-color: rgba(142, 142, 142, 0.5);
}
form button:active{
    background-color: rgba(142, 142, 142, 0.7);
}