@import url("pageReset.css");
@import url("style.css");

main{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    padding: 30px 10px;
}
.game-section{
    position: relative;
    width: 35vw;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 10px;
    color: var(--text-color-body);
    font-size: 1.1rem;
    background-color: #00754A;
    color: var(--text-color-body);
    border-radius: 8px ;
    border: 2px solid #01603d;
    box-shadow: -5px -2px 5px 6px rgb(255, 255, 255), 2px 6px 7px 8px rgba(0, 0, 0,0.3);
}
.game-section h2{

    text-align: center;
}
.game-n-reward{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.game-container{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    padding: 30px 0;
}
.game-container .result{
    position: relative;
    margin-top: 10px;
}
.reward{
    position: relative;
    margin-left: 10px;
}
.reward ol{
    padding: 30px 0;
}
.reward ol li{
    font-family: var(--body-p-li-font);
    color: var(--text-color-body);
    font-weight: normal;
    padding-bottom: 10px;
}
.btn-container{
    position: relative;
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.btn{
    position: relative;
    padding: 3px 5px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 1rem;
}
.startNenter{
    position: relative;
    background-color: rgb(29, 177, 29);

    &:hover{
        background-color: rgba(29, 177, 29, 0.9);
    }
    &:active{
        background-color: rgba(29, 177, 29, 1);
    }
}
.resetNagain{
    position: relative;
    background-color: rgb(249, 30, 30);

    &:hover{
        background-color: rgba(249, 30, 30, 0.9);
    }
    &:active{
        background-color: rgba(249, 30, 30, 1);
    }
}
#nums-input{
    position: relative;
    border: 2px solid rgb(33, 33, 33);
    border-radius: 6px;
    outline: none;
    text-align: center;
    padding: 2px 0;
}

#dice-container{
    position: relative;
    width: 100px;
    height: 100px;
    background-image: url("/web-image/dice-six-faces-one.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media (min-width:600px) and (max-width:768px) {
    main{
        grid-template-columns:repeat(1, 1fr);
        grid-auto-rows: minmax(100px, 400px);
    }
    .game-section{
        width: clamp(70dvw, 300px, 80dvw);
        height: clamp(70dvh, 350px, 90dvh);
    }
    .game-section h2{
        font-size: var(--h2-font-size);
    }
    .game-n-reward{
        position: relative;
        display: flex;
        justify-content: center;
        gap: 35px;
    }
    .game-container{
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        align-items: center;
        padding: 30px 0;
    }
    .game-container .result{
        position: relative;
        margin-top: 10px;
    }
    #allowed-attempt{
        font-size: var(--body-font-size);
    }
    .reward{
        margin-left: 10px;
        font-size: var(--body-font-size);
    }
    .reward ol li{
        font-family: var(--body-p-li-font);
        color: var(--text-color-body);
    }
    .btn-container{
        gap: 30px;
    }
    .btn{
        padding: 4px 5px;
        font-size: var(--body-font-size);
    }
    #nums-input{
        padding: 4px 5px;
    }
    #guessing-result{
        font-size: clamp(2dvw, 0.9rem, 3.5dvw);
    }

    #dice-container{
        width: clamp(10dvw, 100px, 20dvw);
        height: clamp(10dvw, 100px, 20dvw);
    }
}

@media (max-width:600px) {
    main{
        display: grid;
        align-items: flex-start;
        justify-content: center;
        grid-template-columns:repeat(1, 1fr);
        grid-auto-rows: clamp(80dvh, 110dvw, 100dvh);
        padding: 50px 0;
        row-gap: 30px;
    }
    .game-section{
        width: clamp(70dvw, 300px, 80dvw);
        height: clamp(80dvh, 110dvw, 100dvh);
    }
    .game-section h2{
        font-size: var(--h2-font-size);
    }
    .game-n-reward{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 0px;
    }
    .game-container{
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        align-items: center;
        padding: 20px 0;
    }
    .game-container .result{
        position: relative;
        margin-top: 5px;
    }
    #allowed-attempt{
        font-size: var(--body-font-size);
    }
    .reward{
        margin-left: 0px;
        font-size: var(--body-font-size);
    }
    .reward ol{
        padding: 5px 0;
    }
    .reward ol li{
        font-family: var(--body-p-li-font);
        font-size: var(--body-li-font-size-600);
        color: var(--text-color-body);
        padding-bottom: 5px;
    }
    .btn-container{
        gap: 20px;
    }
    .btn{
        padding: 4px 5px;
        font-size: var(--body-font-size);
    }
    #nums-input{
        width: 60%;
        padding: 4px 5px;
    }
    #guessing-result{
        font-size: clamp(2dvw, 0.9rem, 3.5dvw);
    }

    #dice-container{
        width: clamp(10dvw, 100px, 20dvw);
        height: clamp(10dvw, 100px, 20dvw);
    }
}
